<div>
    <h2 data-translate="21PointsApp.entry.home.title">Entries</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="entry.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="21PointsApp.entry.home.createLabel">
                        Create new Entry
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="21PointsApp.entry.date">Date</span></th>
                    <th><span data-translate="21PointsApp.entry.exercise">Exercise</span></th>
                    <th><span data-translate="21PointsApp.entry.meals">Meals</span></th>
                    <th><span data-translate="21PointsApp.entry.alcohol">Alcohol</span></th>
                    <th><span data-translate="21PointsApp.entry.notes">Notes</span></th>
                    <th><span data-translate="21PointsApp.entry.goal">Goal</span></th>
                    <th><span data-translate="21PointsApp.entry.metric">Metric</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in vm.entries track by entry.id">
                    <td><a ui-sref="entry-detail({id:entry.id})">{{entry.id}}</a></td>
                        <td>{{entry.date | date:'mediumDate'}}</td>
                    <td>{{entry.exercise}}</td>
                    <td>{{entry.meals}}</td>
                    <td>{{entry.alcohol}}</td>
                    <td>{{entry.notes}}</td>
                    <td>
                        <a ui-sref="goal-detail({id:entry.goal.id})">{{entry.goal.id}}</a>
                    </td>
                    <td>
                        <span ng-repeat="metric in entry.metrics">
                            <a class="form-control-static" ui-sref="metric-detail({id: metric.id})">{{metric.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="entry-detail({id:entry.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="entry.edit({id:entry.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="entry.delete({id:entry.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
