<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1 data-translate="home.title">Welcome, Java Hipster!</h1>
            <p class="lead" data-translate="home.subtitle">This is your homepage</p>

            <div class="row">
                <div class="col-md-10">

                    <div class="row">
                        <div class="col-md-7">
                            <p>Points for the week of {{todayDate | date : longDate}}.</p>
                        </div>
                        <div class="col-md-5 text-right">
                            <a ui-sref="points.add" class="btn btn-primary btn-raised">Add Points</a>
                        </div>
                    </div>

                    <div class="progress" style="height: 20px;" ng-show="pointsThisWeek.points">
                        <div class="progress-bar progress-bar-striped" role="progressbar"
                             aria-valuenow="{{pointsThisWeek.points}}"
                             aria-valuemin="0" aria-valuemax="21" style="width: {{pointsPercentage}}%"
                             ng-class="{'progress-bar-success': pointsThisWeek.points >= preferences.weeklyGoal,
                                        'progress-bar-danger': pointsThisWeek.points < 10,
                                        'progress-bar-warning': pointsThisWeek.points > 10 &&
                                        pointsThisWeek.points < preferences.weeklyGoal}">
                            {{pointsThisWeek.points}} / Goal : {{preferences.weeklyGoal}}
                            <span class="sr-only">{{pointsPercentage}} points this week</span>
                        </div>
                    </div>
                    <alert type="info" ng-hide="pointsThisWeek.points">
                        No points yet this week, better get moving!
                    </alert>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-10">

                    <div class="row">
                        <div class="col-md-7">
                            <p>Blood Pressure:</p>
                        </div>
                        <div class="col-md-5 text-right">
                            <a ui-sref="blood.add" class="btn btn-primary btn-raised">Add Blood Pressure</a>
                        </div>
                    </div>

                    <span ng-if="bpReadings.readings.length">
                        <nvd3 options="bpOptions" data="bpData" class="with-3d-shadow with-transitions"></nvd3>
                    </span>
                    <span ng-if="!bpReadings.readings.length">
                        <alert type="info">No blood pressure readings found.</alert>
                    </span>
                </div>
            </div>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" data-translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.authenticated" translate-compile>
                    If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>

                <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.register" translate-compile>
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>

            <p data-translate="home.question">
                If you have any question on JHipster:
            </p>

            <ul>
                <li><a href="http://jhipster.github.io/" target="_blank" data-translate="home.link.homepage">JHipster homepage</a></li>
                <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" data-translate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
                <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" data-translate="home.link.bugtracker">JHipster bug tracker</a></li>
                <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" data-translate="home.link.chat">JHipster public chat room</a></li>
                <li><a href="https://twitter.com/java_hipster" target="_blank"  data-translate="home.link.follow">follow @java_hipster on Twitter</a></li>
            </ul>

            <p>
             <span data-translate="home.like">If you like JHipster, don't forget to give us a star on </span>&nbsp;<a href="https://github.com/jhipster/generator-jhipster" target="_blank" data-translate="home.github">Github</a>!
            </p>
        </div>
    </div>
</div>
